<h1 style="padding-top: 45px;">Top 100 Cryptocurrencies By Market Capitalization</h1>

<br />
<table class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
    	<th>Rank</th>
      <th>Name</th>
      <th>Market Cap</th>
      <th>Current Price (£)</th>
      <th>Volume (24h)</th>
      <th>Available Supply</th>
      <th>Percent Changed (24h)</th>
      <th>Add To Portfolio</th>
    </tr>
  </thead>
<tbody>
	<% for x in @coins %>
	<tr>
		<td><%= x["rank"] %></td>
		<td><%= x["name"] %></td>
		<td><%= x["market_cap_gbp"] %></td>
		<td><%= x["price_gbp"] %></td>
		<td><%= x["24h_volume_gbp"] %></td>
		<td><%= x["available_supply"] %></td>
		<td><%= x["percent_change_24h"] %>%</td>
		<td style="text-align: center;"><% if user_signed_in? %>
			<%= link_to '<span class="glyphicon glyphicon-plus" >'.html_safe, new_crypto_path, class: "btn btn-default" %>
			<% else %>
			<%= link_to '<span class="glyphicon glyphicon-plus">'.html_safe, new_user_session_url, class: "btn btn-default" %>
		</span></td>
		<% end %>
	</tr>
</tbody>


<% end %>

